<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center">
        <h1>Lista de Paises</h1>
      </div>
      <!--agregamos el boton para agregar un nuevo elemento-->
      <div>
        <button
          mat-raised-button
          color="warn"
          routerLink="/paises/paisesinsertar"
          class="button"
          id="nuevo"
        >
          Nuevo
        </button>
      </div>
      <!--input para buscar-->
      <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
      </mat-form-field>

      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        class="table table-bordered"
      >
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombrePais">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombrePais }}</td>
        </ng-container>

        <ng-container matColumnDef="capitalPais">
          <th mat-header-cell *matHeaderCellDef>Capital</th>
          <td mat-cell *matCellDef="let element">{{ element.capitalPais }}</td>
        </ng-container>

        <ng-container matColumnDef="monedaPais">
          <th mat-header-cell *matHeaderCellDef>Moneda Oficial</th>
          <td mat-cell *matCellDef="let element">{{ element.monedaPais }}</td>
        </ng-container>

        <!--update part-->
        <ng-container matColumnDef="ceditar">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              [routerLink]="['edicion', element.id]"
              id="actualizar"
              class="button"
            >
              <span class="material-icons">edit</span>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="celiminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              (click)="confirmar(element.id)"
              id="eliminar"
              class="button"
            >
              <span class="material-icons">delete</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </body>
</html>
