<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h1 style="margin-top: 30px;">REGISTRO DE UNIVERSIDADES</h1>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID" formControlName="id" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="Nombre" formControlName="nombre" />
        </mat-form-field>
        <br />

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Sede</mat-label>
          <input matInput required placeholder="Sede" formControlName="sede" />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Ubicacion</mat-label>
          <input matInput required placeholder="Ubicacion" formControlName="ubicacion" />
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary"> Guardar<span class="material-icons">save</span></button>
        <button mat-raised-button color="warn" style="background-color: #ff6c00;" routerLink="/universidad"> Cancelar <span class='material-icons'>cancel</span>
        </button>
        <br />
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
