<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="tipo-listar.component.css">
  <title>Document</title>

  <style>
    .centrar{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 50px;
    }
  </style>


</head>
<body class="body">
  <div class="container">
    <h1 class="centrar" style="margin-top: 50px;">TIPOS DE HABITACIÓN</h1>

    <div style="text-align: right;" class="example-button-row">
      <button mat-raised-button style="background-color: #0b3ad1; color: white;"  routerLink="/tipo/tipoinsertar">Nuevo</button>
    </div>

    <mat-form-field>
      <input  matInput (keyup)="filtrar($event)" placeholder="Buscar"/>
    </mat-form-field>



    <table mat-table [dataSource]="dataSource" class="table table-striped">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> TIPO DE HABITACIÓN</th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="ceditar">
        <th mat-header-cell *matHeaderCellDef> ACTUALIZAR </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" style="background-color: #ff6c00;"
            [routerLink]="['edicion', element.id]"><span class="material-icons">edit_note</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="celiminar">
        <th mat-header-cell *matHeaderCellDef> ELIMINAR </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button style="background-color: black;" (click)="confirmar(element.id)"><span style="color: white;" class="material-icons">delete</span></button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</body>
</html>
